#alu_top_left {
  width: 50px;
  height: 60px;
  border-width: 0 0 0 3px;
  top: 230px;
  left: 570px;
}

#alu_bottom_left {
  width: 50px;
  height: 59px;
  border-width: 0 0 0 3px;
  top: 327px;
  left: 570px;
}

#alu_top_rotate {
  width: 40px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 293px;
  left: 553px;
  transform: rotate(30deg);
}

#alu_bottom_rotate {
  width: 40px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 313px;
  left: 584px;
  transform: rotate(-30deg);
}

#alu_center {
  width: 50px;
  height: 73px;
  border-width: 0 3px 0 0;
  top: 271px;
  left: 655px;
  text-align: center;
}

#alu_top_center_rotate {
  width: 143px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 248px;
  left: 559px;
  transform: rotate(17deg);
}

#alu_bottom_center_rotate {
  width: 143px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 361px;
  left: 576px;
  transform: rotate(-17deg);
}

#alu_out0a {
  width: 25px;
  height: 160px;
  border-color: #044b7f;
  border-width: 0 5px 5px 0;
  top: 130px;
  left: 705px;
}

#alu_out0b {
  width: 95px;
  height: 160px;
  border-color: #044b7f;
  border-width: 5px 0 0 0;
  top: 130px;
  left: 735px;
}

#alu_out1 {
  width: 45px;
  height: 160px;
  border-color: #044b7f;
  border-width: 5px 0 0 0;
  top: 325px;
  left: 705px;
}

#alu_out2a {
  width: 45px;
  height: 130px;
  border-color: #044b7f;
  border-width: 0 0 0 5px;
  top: 325px;
  left: 715px;
}

#alu_out2b {
  width: 175px;
  height: 120px;
  border-color: #044b7f;
  border-width: 0 5px 5px 0;
  top: 330px;
  left: 715px;
}

#alu_out2c {
  width: 20px;
  height: 100px;
  border-color: #044b7f;
  border-width: 5px 0 0 0;
  top: 330px;
  left: 895px;
}

#alu_ball {
  top: 322px;
  left: 712px;
}
