#and_branch {
  width: 30px;
  height: 30px;
  top: 107px;
  left: 828px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-color: #1c7c54;
  color: #1c7c54;
}

#and_out {
  width: 24px;
  height: 14px;
  border-color: #1c7c54;
  border-width: 0 5px 5px 0;
  top: 108px;
  left: 862px;
}
