#control {
  width: 120px;
  height: 80px;
  top: 135px;
  left: 250px;
  border-radius: 50%;
  border-color: #7371fc;
  color: #7371fc;
}

#control_out0 {
  width: 22px;
  height: 17px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 210px;
  left: 347px;
}

#control_out1 {
  width: 165px;
  height: 88px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 200px;
  left: 363px;
}

#control_out2 {
  width: 440px;
  height: 57px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 190px;
  left: 370px;
}

#control_out3a {
  width: 99px;
  height: 270px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 180px;
  left: 373px;
}

#control_out3b {
  width: 88px;
  height: 5px;
  border-color: #7371fc;
  border-width: 5px 0 0 0;
  top: 450px;
  left: 472px;
}

#control_out4 {
  width: 557px;
  height: 92px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 170px;
  left: 373px;
}

#control_out5a {
  width: 610px;
  height: 235px;
  border-color: #7371fc;
  border-width: 5px 5px 0 0;
  top: 160px;
  left: 370px;
}

#control_out5b {
  width: 170px;
  height: 20px;
  border-color: #7371fc;
  border-width: 0 0 5px 5px;
  top: 375px;
  left: 810px;
}

#control_out6 {
  width: 515px;
  height: 20px;
  border-color: #7371fc;
  border-width: 5px 0 0 5px;
  top: 113px;
  left: 310px;
}
