#data_memory {
  width: 120px;
  height: 120px;
  top: 250px;
  left: 750px;
  border-color: #1b512d;
  color: #1b512d;
}

#data_memory_out0 {
  width: 44px;
  height: 110px;
  border-color: #1b512d;
  border-width: 5px 0 0 0;
  top: 285px;
  left: 874px;
}
