#mux_reg {
  width: 30px;
  height: 80px;
  top: 290px;
  left: 513px;
  border-color: #f49f0a;
  color: #f49f0a;
}

#mux_reg_out {
  width: 25px;
  height: 100px;
  border-color: #f49f0a;
  border-width: 5px 0 0 0;
  top: 360px;
  left: 547px;
}
