#pc {
  width: 40px;
  height: 100px;
  top: 230px;
  left: 20px;
  border-color: #da4167;
  color: #da4167;
}

#pc_out0 {
  width: 40px;
  height: 100px;
  border-color: #da4167;
  border-width: 5px 0 0 0;
  top: 250px;
  left: 63px;
}

#pc_out1 {
  width: 27px;
  height: 110px;
  border-color: #da4167;
  border-width: 5px 0 0 5px;
  top: 135px;
  left: 80px;
}

#pc_out2 {
  width: 140px;
  height: 130px;
  border-color: #da4167;
  border-width: 5px 0 0 5px;
  top: 30px;
  left: 80px;
}

#pc_out3 {
  width: 525px;
  height: 10px;
  border-color: #da4167;
  border-width: 5px 0 0 0;
  top: 30px;
  left: 225px;
}

#pc_ball0 {
  background-color: #353531;
  top: 246px;
  left: 77px;
}

#pc_ball1 {
  background-color: #353531;
  top: 132px;
  left: 77px;
}
