#pc_add0_top_left {
  width: 50px;
  height: 40px;
  border-width: 0 0 0 3px;
  top: 50px;
  left: 110px;
}

#pc_add0_bottom_left {
  width: 50px;
  height: 40px;
  border-width: 0 0 0 3px;
  top: 117px;
  left: 110px;
}

#pc_add0_top_rotate {
  width: 30px;
  height: 61px;
  border-width: 3px 0 0 0;
  top: 90px;
  left: 94px;
  transform: rotate(30deg);
}

#pc_add0_bottom_rotate {
  width: 30px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 105px;
  left: 124px;
  transform: rotate(-30deg);
}

#pc_add0_center {
  width: 50px;
  height: 54px;
  border-width: 0 4px 0 0;
  top: 76px;
  left: 145px;
}

#pc_add0_top_center_rotate {
  width: 91px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 61px;
  left: 100px;
  transform: rotate(17deg);
}

#pc_add0_bottom_center_rotate {
  width: 90px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 140px;
  left: 119px;
  transform: rotate(-17deg);
}

#pc_add0_out {
  width: 675px;
  height: 135px;
  border-color: #044b7f;
  border-width: 5px 0 0 0;
  top: 100px;
  left: 198px;
}
