#pc_add1_top_left {
  width: 50px;
  height: 30px;
  border-width: 0 0 0 3px;
  top: 10px;
  left: 750px;
}

#pc_add1_bottom_left {
  width: 50px;
  height: 30px;
  border-width: 0 0 0 3px;
  top: 67px;
  left: 750px;
}

#pc_add1_top_rotate {
  width: 30px;
  height: 61px;
  border-width: 3px 0 0 0;
  top: 40px;
  left: 734px;
  transform: rotate(30deg);
}

#pc_add1_bottom_rotate {
  width: 30px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 55px;
  left: 764px;
  transform: rotate(-30deg);
}

#pc_add1_center {
  width: 50px;
  height: 34px;
  border-width: 0 4px 0 0;
  top: 36px;
  left: 785px;
}

#pc_add1_top_center_rotate {
  width: 91px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 21px;
  left: 740px;
  transform: rotate(17deg);
}

#pc_add1_bottom_center_rotate {
  width: 90px;
  height: 60px;
  border-width: 3px 0 0 0;
  top: 80px;
  left: 759px;
  transform: rotate(-17deg);
}

#pc_add1_out0 {
  width: 37px;
  height: 135px;
  border-color: #044b7f;
  border-width: 5px 0 0 0;
  top: 50px;
  left: 835px;
}
