#alu_control {
  width: 60px;
  height: 60px;
  top: 417px;
  left: 560px;
  border-radius: 50%;
  border-color: #785964;
  color: #785964;
}

#alu_control_out {
  width: 25px;
  height: 88px;
  border-color: #785964;
  border-width: 0 5px 5px 0;
  top: 359px;
  left: 625px;
}
