#mux_memory {
  width: 30px;
  height: 80px;
  top: 265px;
  left: 915px;
  border-color: #f49f0a;
  color: #f49f0a;
}

#mux_memory_out0 {
  width: 10px;
  height: 110px;
  border-color: #f49f0a;
  border-width: 5px 0 0 0;
  top: 305px;
  left: 950px;
}

#mux_memory_out1 {
  width: 670px;
  height: 105px;
  border-color: #f49f0a;
  border-width: 0 5px 5px 0;
  top: 305px;
  left: 290px;
}

#mux_memory_out2 {
  width: 25px;
  height: 30px;
  border-color: #f49f0a;
  border-width: 5px 0 0 5px;
  top: 375px;
  left: 290px;
}
